@import url('https://fonts.googleapis.com/css2?family=Inter&family=Titillium+Web:wght@400;700&display=swap');


*{
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Titillium: 'Titillium Web', sans-serif;
    --Inter: 'Inter', sans-serif;
    --red: #BF1E2E;
}



header a{
    font-family: var(--Inter);
    font-size: 0.6em;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 600;
}

header {
    background: #232528;
    background: url("../assets/gearbox.png");
    width: 100%;
    background-position: cover;
    background-size: 100%;
    position: relative;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #FFFFFF;
}

.dropdown:hover .dropdown-content{
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 5vmin;
}

header .nav-link:hover {
    color: var(--red);
}

header .row .col-md-6:first-child {
    padding-top: 15vmin;
    padding-left: 7vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
    color: white;
}


header .container .col-md-6 h1 {
    font-family: var(--Titillium);
    font-size: 9vmin;
    font-weight: 700;
    font-style: normal;
    color: #BF1E2E;

}

header .container .col-md-6 p {
    padding-top: 1vmin;
    font-family: var(--Inter);
    font-size: 16px;
    line-height: 22px;
    padding-top: 1rem;
}


header .container .col-md-6:last-child{
    position: relative;
    color: white;
}


header .container .col-md-6:last-child h1{
    font-family: var(--Titillium);
    font-size: 6.2vmin;
    font-weight: 700;
    font-style: normal;
}

header .container .col-md-6:last-child p{
    font-family: var(--Inter);
    font-weight: 400;
    font-style: normal;
    padding-right: 10em;
    font-size: 14px;
}



.section-1 {
    background-color: #FFFFFF;
    overflow-y: hidden;
}

.section-1 .col-md-6:first-child p{
    font-family: var(--Titillium);
    padding-left: 8vmin;
    font-weight: 700;
    color: #BF1E2E;
    font-size: 2em;
}

.section-1 .col-md-6:last-child p{
    font-family: var(--Inter);
    font-weight: 400;
    color: #232528;
    font-size: 1em;
    padding-right: 8vmin;
}


.section-2 {
    padding: 5vmin 10vmin;
    background-color: #E4F1FE;
}

.section-2 h3{
    font-family: var(--Titillium);
    font-weight: 700;
    font-size: 2.8em;
    text-transform: uppercase;
    padding-left: 4vmin;
}

.section-2 p{
    font-family: var(--Inter);
    font-size: 1em;
    font-weight: 400;
    padding: 2vmin 4vmin;
}

.section-3 {
    display: flex;
    flex-direction: column;
    min-height: 55vh;;
    background-color: #E4F1FE;
    /* height: 55vmin; */
}

.section-3 h2{
    font-family: var(--Titillium);
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    font-size: 2em;
}

.section-3 p{
    font-family: var(--Inter);
    font-size: 1em;
}

footer {
    margin-top: 4vmin;
    padding: 2vmin 0vmin;
}


footer h4{
    font-family: var(--Titillium);
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    font-size: 15px;
}

footer p {
    font-family: var(--Inter);
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
}



#gearbox-title {
    font-family: var(--Titillium);
    font-weight: 700;
    font-size: 2em;
    line-height: 35px;
}

#gearbox-p {
    font-family: var(--Inter);
    font-weight: 400;
    font-style: normal;
    font-size: .9em;
}