@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('../fonts/stylesheet.css');

*{
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Titillium: 'Titillium Web', sans-serif;
    --Inter: 'Graphik';
    --red: #BF1E2E;
}


header a, span{
    font-family: var(--Inter);
    font-size: 0.6em;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 600;
}

header span {
    color: #000;
}

header {
    background: #232528;
    background: url("../assets/bg.webp");
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    height: 1061px;
    background-size: cover;
    position: relative;
    margin-bottom: -5vw;
    overflow-y:hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #FFFFFF;
}

.dropdown:hover .dropdown-content{
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 5vmin;
}

header .nav-link:hover {
    color: var(--red);
}

header .row .col-md-6:first-child {
    padding-top: 1em;
    padding-left: 7vmin;
    font-family: var(--Rubik);
    color: white;
}


header .container .col-md-6 h1 {
    font-family: var(--Titillium);
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
    font-style: normal;
    text-align: left;
}

header .container .col-md-6 p {
    padding-top: 1vmin;
    font-family: var(--Inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 1rem;
}

.bold-btn {
    font-weight: 700;
    font-family: var(--Titillium);
    background: var(--red);
    color: white;
    border: none;
    font-size: 15px;
}
header .container .col-md-6 button {
    margin-top: 1rem;
}

header .container .col-md-6:last-child{
    position: relative;
    color: white;
    margin-top: 17em;
}

header .container .col-md-6:last-child span{
    position: absolute;
    bottom: 0;
    left: 0;
}

header .container .col-md-6:last-child h1{
    font-family: var(--Titillium);
    font-size: 5vmin;
    font-weight: 700;
    font-style: normal;
}

header .container .col-md-6:last-child p{
    font-family: var(--Inter);
    font-weight: 400;
    font-style: normal;
    padding-right: 16em;
    font-size: 14px;
    text-transform: none;
}

.section-1 {
    background-color: #E4F1FE;
    height: 30rem;
    overflow-y: hidden;
}


.section-1 .col-md-6:first-child img{
    padding-left: 5vmin;
    z-index: 1;
    position: absolute;
    margin-top: -23vmin;
    padding-bottom: 4vmin;
    height: 70%;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px;
}

.section-1 .col-md-6:last-child {
    /* padding-top: 5vmin; */
    padding-right: 35vmin;
    padding-left: 0;
    font-family: var(--Inter);
    left: 0;
    font-size: 1em;
}

.section-1 .col-md-6:last-child p{
    padding-top: 5em;
    padding-bottom: 2em;
}
.section-1 button{
    padding-top: 3vmin;
}

.section-2 {
    padding: 10vmin 10vmin;
    background: #BF1E2E;
    color: white;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}

.section-2 h1{
    font-family: var(--Titillium);
    font-weight: 700;
    font-size: 2.8em;
    text-transform: uppercase;
}

.section-2 p{
    font-family: var(--Inter);
    font-size: 14px;
    font-weight: 400;
    padding: 2vmin 8vmin;
}

footer {
    margin-top: 4vmin;
    padding: 2vmin 0vmin;
}


footer h4{
    font-family: var(--Titillium);
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    font-size: 15px;
}

footer p {
    font-family: var(--Inter);
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
footer p a{
    text-decoration: none;
    color: #232528;
}

footer p a:hover,:active {
    color: #BF1E2E;
}

@media only screen and (max-width:320px){


    #title {
        text-align: center;
        font-weight: 600;
        font-size: 2vmin;
        padding: 12px;
        margin-bottom: 12px;
    }
      

}

@media screen and (max-width: 768px) {
    
    header .container .col-md-6:last-child p{
        padding-right: 0px;
    }

    .section-1 .col-md-6:first-child {
        padding-right: 2em;
    }

    .section-1 .col-md-6:first-child img{
        margin-right: 2em;
        position: absolute;
    }

    header .container .col-md-6:last-child {
        padding-left: 2em;
    }

    .section-1 .col-md-6:last-child{
        padding-right: 0px;
    }

    .section-2 .col-md-6 {
        width: 80%;
        padding-left: 0;
        margin-left: 0px;
    }

    .section-2 h1 {
        padding-left: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 425px) {

    header{
        margin-bottom: -4em;
        height: 1000px;
    }


    header .container .col-md-6:last-child {
        margin-top: 3em;
        padding-bottom: 2em;
    }


    .section-1 {
        height: 50em;
    }

    .section-1 .col-md-6:first-child {
        position: relative;
    }

    .section-1 .col-md-6:first-child  img{
        position: relative;
        margin-top: 2em;
        padding-left: 1em;
        width: 100%;
        height: 100%;
    }

    #secondrow{
        margin-top: 8em;
        padding-bottom: 3em;
        padding-left: 2em;
        padding-top: 2em;
        padding-right: 2em;
    }

    #secondrow p{
        text-align: justify;
    }


    .section-1 .col-md-6:last-child {
        padding-top: 2em;
        padding-left: 2em;
        padding-right: 1em;
    }

    .section-2 {
        height: 25em;
    }

    .section-2 h1{
        font-size: 7vmin;
    }

    .section-2 .col-md-6{
        width: 100%;
    }

    footer .row {
        padding-left: 4vmin;
    }

    footer .col-md-3 {
        padding-left: 1em;
    }

}

@media screen and (max-width: 375px) {

    #title {
        font-size: 6vmin;
    }

    #secondrow{
        margin-top: 12em;
    }

    header {
        margin-bottom: -4em;
    }

    header .container .col-md-6:last-child {
        margin-top: 3em;
        padding-bottom: 2em;
    }


    .section-1 .col-md-6:last-child p{
        padding-bottom: 2em;
    }
}


@media screen and (min-width: 2560px) {
    header .row .col-md-6:first-child{
        margin-top: 10em; 
       }

    #title {
        font-size: 3vmin;
    }

    .section-1 {
        height: 40em;
    }

    .section-1 .col-md-6:first-child  img{
        position: absolute;
        margin-top: -5em;
        padding-left: 1em;
        width: 25%;
        height: 40%;
    }

    #secondrow{
        margin-top: 12em;
        margin-left: 2em;
    }

    .section-1 .col-md-6:last-child {
        padding-top: 5vmin;
        padding-right: 2em;
        padding-left: 1em;
    }

    .section-2 .col-md-6 {
        width: 80%;
        padding-left: 0;
        margin-left: 0px;
    }

    .section-2 h1 {
        padding-left: 0;
        margin-left: 0;
    }

}
